
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/site.css" />
</head>
<body>
<div class="row">
    <div class="col-md-4">

        <form id="studentForm" th:object="${student}">
            <!-- Name input-->
            <div class="form-floating mb-3">

                <input class="form-control" id="name" type="text" placeholder="Enter your firstname..." th:field="*{firstName}" data-sb-validations="required" readonly/>
                <label for="name">Firstname</label>
                <div class="invalid-feedback" data-sb-feedback="name:required">Firstname is required.</div>
            </div>
            <!-- Email address input-->
            <div class="form-floating mb-3">
                <input class="form-control" id="lastname" type="text" placeholder="Enter your lastname" th:field="*{lastName}" data-sb-validations="required,lastname" readonly/>
                <label for="lastname">Lastname</label>
                <div class="invalid-feedback" data-sb-feedback="email:required">Lastname is required.</div>
            </div>

            <div class="d-none" id="submitSuccessMessage">
                <div class="text-center mb-3">
                    <div class="fw-bolder">Form submission successful!</div>
                    To activate this form, sign up at
                    <br />
                    <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                </div>
            </div>

        </form>
        <!-- Submit Button-->
        <a href="/students/create"><button class="btn btn-primary btn-xl " >Register New Student</button></a>
        <a href="/students/list"><button class="btn btn-primary btn-xl " >View List</button></a>

    </div>
</div>
</body>
</html>